.card__newEvent {
  width: auto;
  height: 640px;
  background-color:white;
  border-radius: 15px;
  margin: 10px 30px 40px 30px;
}

.container__acara {
  display: flex;
  flex-direction: row;

}

.box_content {
  width: 270px;
  height: 470px;
  background-color: #00acfc;
  margin-left: 100px;
  border-radius: 8px;
  margin-top: 50px;
  box-shadow: 10px 10px 5px #808080;

}

.foto_acara {
  width: auto;
  height: 200px;
  background-color: rgb(0, 140, 255);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

}

.lebel {
  width: 150px;
  height: auto;
  background-color: #4cff15;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 15px;
  padding: 10px;
}

.btn_content {
    background-color: #55c9ff;
    color: white;
    width: 100%;
    height: 53px;
    border: 0 solid white;
    font-size: 18px;
    border: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-content:hover {
  transform: translateY(-2px);
  text-shadow: 1rem 0.7rem 1rem white;
  font-weight: bold;
}
  
.title_acara {
  margin-left: 20px;
  margin-right: 20px;
}

.descripsi_acara {
  margin-left: 20px;
  margin-right: 20px;
}
.point_point_acara {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
}