/* .banner {
    width: 100%;
    height: 500px;
    background-color: red;
    margin-top: 0; */
/* transform: rotate(-1deg); */
/* } */

.details_wrapper {
  margin-top: -40px;
}
.wrapper_content_details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  padding-top: 100px;
  flex: 1;
  background-color: #eeffe9;
  height: 500px;
  text-align: center;
  padding-top: 10vh;
  clip-path: polygon(0 6vh, 100% 0, 100% 100%, 0 100%);
  margin-top: 50px;
}

.about {
  padding-top: 120px;
  flex: 1;
  background-color: #fff;
  height: 500px;
  text-align: center;
  clip-path: polygon(0 6vh, 100% 0, 100% 100%, 0 100%);
}

.banner {
  height: 80vh;
  background-color: #fff;
  background-image: url(../../assets/image/hero.jpg);
  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}

.color_h2_details_profile {
  width: auto;
  height: auto;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  -webkit-background-clip: text;
}
