.banner {
    width: 100%;
    height: 500px;
    background-color: red;
    margin-top: 0;
    /* transform: rotate(-1deg); */
}

.sidebar {
    float: left;
    width: 50%;
    background-color: #f7f7f7;
    height: 500px;
    text-align: center;

}

.about {
    float: right;
    background-color: #fff;
    height: 500px;
    text-align: center;


}


