.container-registrasi {
  text-align: center;
  width: 90%;
}
.card-registrasi {
  border: 1px solid #eee;
  box-shadow: 10px 10px 5px #ccd4cb;
  height: 600px;
  width: 550px;
  margin-left: 400px;
  margin-top: 100px;
  border-radius: 15px;
}

.title-registrasi {
  color: #57c957;
  margin-right: 150px;
  margin-bottom: 40px;
}

.card-email {
  margin-top: 10px;
}

.title-email-password {
  color: #818281;
  margin-right: 350px;
}

.input-email {
  background-color: #eef2ed;
  width: 410px;
  margin-right: 50px;
  height: 47px;
  font-size: 13px;
  border: 0 solid white;
  margin-bottom: 10px;
  border-radius: 8px;
  padding-left: 20px;
}

.input-password {
  background-color: #eef2ed;
  width: 410px;
  margin-right: 50px;
  height: 47px;
  font-size: 13px;
  border: 0 solid white;
  margin-bottom: 30px;
  border-radius: 8px;
  font-weight: bold;
  padding-left: 20px;
}

.btn {
  background-color: #57c957;
  color: white;
  width: 100px;
  height: 40px;
  border: 0 solid white;
  font-size: 14px;
  border: 40px;
  margin-right: 350px;
  border-radius: 30px;
  cursor: pointer;
}
